@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #f5f5f5; /* 무채색 배경 */
    color: #333333; /* 텍스트 색상을 더 어두운 회색으로 설정 */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
